<!DOCTYPE html>
<html>
    <header>
    </header>
    <body>
        <form method = "post" action = "/checkout">
            <input type = "text" id = "item">
            <input type = "submit" id = "submit">
        </form>
    </body>
</html>
